<nb-layout [windowMode]="false">
    <!-- Header -->
    <nb-layout-header fixed>
      <div class="header-container">
        <div class="left-section">
          <!-- Only visible on mobile devices -->
          <button nbButton ghost (click)="toggleSidebar()" class="sidebar-toggle">
            <nb-icon icon="menu-2-outline"></nb-icon>
          </button>
          <div class="logo">My App</div>
        </div>
        <div class="user-menu">
          <button class="user-menu-btn">
            <i class="fas fa-user"></i>{{ displayText }}
          </button>
          <div class="dropdown-menu">
            <h5 class="sidebar-header">My Account</h5>
            <hr class="sidebar-divider" />
            <ul class="sidebar-menu">
              <!-- <li>
                <a routerLink="edit-profile" routerLinkActive="active">
                  <i class="fa-solid fa-user"></i> Edit Profile
                </a>
              </li>
              <li>
                <a routerLink="change-password" routerLinkActive="active">
                  <i class="fa-solid fa-lock"></i> Change Password
                </a>
              </li> -->
              <li>
                <a href="#" class="logout">
                  <i class="fa-solid fa-right-from-bracket"></i> Logout
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nb-layout-header>
  
    <!-- Sidebar - fixed on desktop -->
    <nb-sidebar 
      class="menu-sidebar" 
      tag="menu-sidebar" 
      responsive 
      fixed
      state="expanded">
      <nb-menu [items]="menuItems" (itemClick)="onMenuItemClick($event)"></nb-menu>
    </nb-sidebar>
  
    <!-- Main Content -->
    <nb-layout-column>
      <router-outlet></router-outlet>
    </nb-layout-column>
  </nb-layout>