<div class="fullcontainer">
  <div class="container">
    <div class="search-container">
      <mat-form-field appearance="outline" class="search-field mat-rounded">
        <mat-label>Search by Name</mat-label>
        <input matInput [(ngModel)]="searchName" placeholder="Name" />
      </mat-form-field>
      <mat-form-field appearance="outline" class="search-field">
        <mat-label>Search by Email</mat-label>
        <input matInput [(ngModel)]="searchEmail" placeholder="Email" />
      </mat-form-field>
      <mat-form-field appearance="outline" class="search-field">
        <mat-label>Search by Mobile</mat-label>
        <input matInput [(ngModel)]="searchMobile" placeholder="Mobile" />
      </mat-form-field>
      <mat-form-field appearance="outline" class="search-field">
        <mat-label>Search by App ID</mat-label>
        <input matInput [(ngModel)]="searchAppId" placeholder="App ID" />
      </mat-form-field>
      <div class="search-buttons">
        <button mat-raised-button color="primary" (click)="onSearch()" class="search-button">
          <mat-icon>search</mat-icon> Search
        </button>
        <button mat-raised-button color="accent" (click)="showAll()" class="show-all-button">
          <mat-icon>restart_alt</mat-icon> Reset
        </button>
      </div>
    </div>
    <div class="datedown">
      <div class="date-container">
        <mat-form-field appearance="outline" class="date-field">
          <mat-label>Date Filter</mat-label>
          <mat-select [(value)]="selectedDateRange" (selectionChange)="applyDateFilter()">
            <mat-option value="all">All</mat-option>
            <mat-option value="today">Today</mat-option>
            <mat-option value="thisWeek">This Week</mat-option>
            <mat-option value="thisMonth">This Month</mat-option>
            <mat-option value="custom">Custom Range</mat-option>
          </mat-select>
        </mat-form-field>
        <div *ngIf="selectedDateRange === 'custom'" class="custom-date-range">
          <mat-form-field appearance="outline" class="date-field">
            <mat-label>Start Date</mat-label>
            <input
              matInput
              [(ngModel)]="customStartDate"
              placeholder="MM/DD/YYYY"
              [matDatepicker]="startPicker"
              (ngModelChange)="applyDateFilter()"
            />
            <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
            <mat-datepicker #startPicker></mat-datepicker>
          </mat-form-field>
          <mat-form-field appearance="outline" class="date-field">
            <mat-label>End Date</mat-label>
            <input
              matInput
              [(ngModel)]="customEndDate"
              placeholder="MM/DD/YYYY"
              [matDatepicker]="endPicker"
              (ngModelChange)="applyDateFilter()"
            />
            <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
            <mat-datepicker #endPicker></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
      <div class="button-group">
        <div class="dropdown columns-dropdown">
          <button
            (click)="toggleColumnsDropdown()"
            class="dropdown-button"
            mat-flat-button
            color="primary"
            [attr.aria-expanded]="columnsDropdownOpen"
            aria-haspopup="true"
          >
            <mat-icon>view_column</mat-icon> Columns
          </button>
          <div class="dropdown-menu" [ngClass]="{'show': columnsDropdownOpen}">
            <div class="dropdown-item checkbox-item" *ngFor="let column of allColumns">
              <mat-checkbox
                [(ngModel)]="column.visible"
                (change)="updateDisplayedColumns()"
                color="primary"
              >
                {{ column.label }}
              </mat-checkbox>
            </div>
          </div>
        </div>
        <div class="dropdown">
          <button
            (click)="toggleDropdown()"
            class="dropdown-button"
            mat-flat-button
            color="primary"
            [attr.aria-expanded]="dropdownOpen"
            aria-haspopup="true"
          >
            <mat-icon>download</mat-icon> Download
          </button>
          <div class="dropdown-menu" [ngClass]="{'show': dropdownOpen}">
            <a class="dropdown-item" (click)="downloadData('json')" tabindex="0">Download JSON</a>
            <a class="dropdown-item" (click)="downloadData('csv')" tabindex="0">Download CSV</a>
          </div>
        </div>
      </div>
    </div>
    <div class="table-wrapper">
      <mat-paginator
        [length]="totalRecords"
        [pageSize]="itemsPerPage"
        [pageSizeOptions]="[5, 10, 20, 50, 100, 1000]"
        [pageIndex]="currentPage - 1"
        (page)="onPageChange($event)"
      ></mat-paginator>
      <table mat-table [dataSource]="paginatedData" matSort class="mat-elevation-z8">
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
          <td mat-cell *matCellDef="let element"><span class="clickable-name">{{ element.name || "N/A" }}</span></td>
        </ng-container>
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
          <td mat-cell *matCellDef="let element"> {{ element.email || "N/A" }} </td>
        </ng-container>
        <ng-container matColumnDef="mobile">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Mobile </th>
          <td mat-cell *matCellDef="let element"> {{ element.mobile || "N/A" }} </td>
        </ng-container>
        <ng-container matColumnDef="app_id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> App ID </th>
          <td mat-cell *matCellDef="let element"> {{ element.app_id || "N/A" }} </td>
        </ng-container>
        <ng-container matColumnDef="data.credit_score">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Credit Score </th>
          <td mat-cell *matCellDef="let element"> {{ element.data?.credit_score || "N/A" }} </td>
        </ng-container>
        <ng-container matColumnDef="employment">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Employment </th>
          <td mat-cell *matCellDef="let element"> {{ element.employment || "N/A" }} </td>
        </ng-container>
        <!-- Salary Column -->
        <ng-container matColumnDef="salary">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Salary </th>
          <td mat-cell *matCellDef="let element"> {{ element.salary || "N/A" }} </td>
        </ng-container>
        
        <!-- Marital Status Column -->
        <ng-container matColumnDef="maritalStatus">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Marital Status </th>
          <td mat-cell *matCellDef="let element"> {{ element.maritalStatus || "N/A" }} </td>
        </ng-container>
        
        <!-- Gender Column -->
        <ng-container matColumnDef="gender">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Gender </th>
          <td mat-cell *matCellDef="let element"> {{ element.gender || "N/A" }} </td>
        </ng-container>
        <ng-container matColumnDef="model">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Model </th>
          <td mat-cell *matCellDef="let element"> {{ element.model || "N/A" }} </td>
        </ng-container>
      
        <!-- City Column -->
        <ng-container matColumnDef="city">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> City </th>
          <td mat-cell *matCellDef="let element"> {{ element.city || "N/A" }} </td>
        </ng-container>
      
        <!-- Dealer Details Column -->
        <ng-container matColumnDef="dealer_details">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Dealer Details </th>
          <td mat-cell *matCellDef="let element"> {{ element.dealer_details || "N/A" }} </td>
        </ng-container>
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
          <td mat-cell *matCellDef="let element"> {{ element.status || "false" }} </td>
        </ng-container>
        <ng-container matColumnDef="createdAt">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Created At </th>
          <td mat-cell *matCellDef="let element"> {{ element.createdAt | date }} </td>
        </ng-container>
        <ng-container matColumnDef="updatedAt">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Updated At </th>
          <td mat-cell *matCellDef="let element"> {{ element.updatedAt | date }} </td>
        </ng-container>
        <ng-container matColumnDef="modifiedAt">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Modified At </th>
          <td mat-cell *matCellDef="let element"> {{ element.modifiedAt | date }} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </div>
  <div *ngIf="loading" class="overlay">
    <mat-spinner></mat-spinner>
  </div>
</div>