:host {
    display: block;
  }
  
  .title-placeholder {
    height: 1.8rem;
    margin-bottom: 0.5rem;
    width: 80%;
    background: var(--nb-theme-background-basic-color-2);
  }
  
  .text-placeholder {
    height: 4rem;
    margin-bottom: 1rem;
    background: var(--nb-theme-background-basic-color-2);
  }
  
  .link-placeholder {
    height: 1.25rem;
    width: 5rem;
    background: var(--nb-theme-background-basic-color-2);
  }
  